* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

#bookingArea {
    background: url("images/ship.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

nav {
    height: 50px;
    width: 100%;
    padding: 20px 0;
}

.container {
    width: 1200px;
    max-width: 85%;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    margin: 0px 6px;
}

nav ul li a {
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    margin-left: 30px;
}

nav ul li a:hover, a.active {
    background-color: #E33741;
    border-radius: 5px;
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 70px;
    align-items: center;
}

.booking-content {
    color: #fff;
    width: 100%;
    float: left;
    margin-left: 50px;
}

.booking-content h1 {
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
}

.booking-form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    float: right;
    width: 65%;
    margin-left: 180px;
}

.booking-form h3 {
    margin: 10px 0px;
}

.booking-form .input-group {
    margin: 10px 0;
}

.booking-form .calculations {
    margin: 10px 0;
}

.booking-form .calculations p {
    font-weight: 500;
    margin-bottom: 10px;
}

.booking-form input {
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #F3F5FF;
    border-radius: 4px;
    margin: 10px 0;
}

.f-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inp-width {
    min-width: 300px;
}

.plus-minus-btn {
    color: #3352F2;
    font-size: 30px;
    padding: 2px;
    margin: 10px 5px 0px 0px;
    word-spacing: 20px;
    margin-top: 35px;
}

.booking-form .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.btn-style {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    background-color: #E33741;
}

.amount {
    display: flex;
    justify-content: space-between;
}

.button-design {
    width: 30px;
    font-size: 33px;
    background-color: white;
    border: none;
    cursor: pointer;
    color: slateblue;
    font-weight: bold;
}

#NumberCheckForFirstClass {
    display: none;
    color: red;
    margin-top: 10px;
}

#NumberValidation {
    display: none;
    color: red;
    margin-top: 10px;
}

.congrats {
    text-align: center;
    margin-top: 66px;
    font-size: 40px;
    color: slateblue;
}

.order-info {
    text-align: center;
    margin-top: 2rem;
    color: red;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.voucher-counter {
    font-size: 28px;
    font-weight: bold;
    font-family: cursive;
    color: slateblue;
    text-align: center;
    margin-top: 35px;
}

.total-cost {
    font-size: 25px;
    margin-top: 10px;
    font-weight: bold;
    color: blue;
    text-align: center;
    padding: 20px;
    font-family: cursive;
}

#checkMark {
    width: 121px;
    margin-top: 34px;
    margin-bottom: 2px;
}

.checkSVG {
    text-align: center;
}

hr {
    width: 60%;
    margin-left: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#voucher-area {
    display: none;
    height: 700px;
    background-image: url("https://image.freepik.com/free-photo/passport-airplane-air-ticket-blue-background-travel-concept-copy-space_130265-2702.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}